.outerWrapper {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 1.5rem;
    background-color: #8d573e;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    background-color: #c87c59;
    border-radius: 1rem;
    width: 100%;
    max-width: 36.5rem;
}

.sectionTitle {
    text-align: center;
    font-weight: 600;
    color: black;
    font-size: 14px;
    /* mobile default */
    margin-bottom: 1rem;
}

.linkButton {
    display: grid;
    grid-template-rows: min-content 1fr;
    width: 100%;
    text-decoration: none;
    outline: none;
}

.linkInner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 4rem;
    /* adjust button height */
    gap: 1rem;
    padding: 0.5rem 1rem;
    border-radius: var(--button-style-inner-radius);
    background-color: var(--button-style-background);
    color: var(--button-style-text);
    transition: all 0.2s ease-in-out;
}

.linkInner:hover {
    background-color: var(--button-style-background-hover);
}

.linkImage {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    height: 3rem;
    width: 3rem;
    border-radius: var(--button-style-inner-radius);
    overflow: hidden;
}

.linkImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.linkTitle {
    color: black;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* limit to 2 lines */
    -webkit-box-orient: vertical;
}

/* Shake animation for first link */
@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    20%,
    60% {
        transform: translateX(-4px);
    }
    40%,
    80% {
        transform: translateX(4px);
    }
}

.shake {
    animation: shake 0.6s ease-in-out infinite;
    animation-delay: 1.5s; /* small delay to feel natural */
}

/* Mobile */
@media screen and (max-width: 575px) {
    .outerWrapper {
        background: none;
        padding: 0;
        min-height: auto;
    }

    body {
        background-color: #c87c59 !important;
    }

    .innerContainer {
        border-radius: 0rem;
    }
}

/* Desktop */
@media screen and (min-width: 576px) {
    .sectionTitle {
        font-size: 16px;
    }

    .innerContainer {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    }

    .linkTitle {
        font-size: 16px;
    }
}
